Package: com.aliucord
Name: Aliucord
Version: 1.0.3
Architecture: iphoneos-arm
Description: Patch Discord to add plugins and more!
Maintainer: Zoey
Author: Zoey
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
SileoDepiction: https://ios.aliucord.com/repo/depictions/aliucord.json
Icon: https://ios.aliucord.com/repo/icons/Aliucord.png
