Package: com.aliucord.ios
Name: aliucord_ios
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Zoey
Author: Zoey
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
